body {
    background: black;
}

.header {
   background: white; 
   margin-top: 30px;
   border-radius: 20px;
   padding: 10px;
   text-align: center;
   background-color: rgba(0 ,0, 0, 0);
   min-height: 90vh;
   width: 50%;
   color: white;
}


#Titulo2 {
    font-family: 'Lato', sans-serif;
    color: white;
}

#Titulo {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;} 

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}



#videoBG {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
