body {
    background: black;
}

.header {
   background: white; 
   width: 60%;
   padding: 10%;
   margin-top: 30px;
   border-radius: 20px;
   padding: 10px;
   text-align: center;
   background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
   color: #426696;
   min-height: 80vh;
   width: 60%;
}


#Titulo2 {
    font-family: 'Lato', sans-serif;
}

#Titulo {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
} 

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}



#videoBG {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}